
/* Ancho de la pagina */

.wrap-body{
    width: 52.5%;
    margin: 0 auto;
}

/* Fondo de la pagina  */

.home-page{
    background-image: url(../images/bg3.jpg);
    background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	color: #fff; 
	position: relative; 
}

/* Estilo del header */

.row1{
    display: flex;
    align-items: center;
    justify-content: space-between; 

}

/* Cuadricula de la seccion home */

.wrap-box > .row {
    display: flex;
    flex-wrap: wrap;
}

.row > .col-2-5{
    width: 40%;
}

.row > .col-3-5{
    width: 60%;
}

.row > .col-1-2{
    width: 50%;
}

.wrap-col > .box-text{
    width: 480px;
}

/* dividir en 3 columnas el footer  */

.wrap-footer > .row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;

}

/* Cajas de la seccion blog  */

.col-1-2{
    width: 50%;
}

#modelo_azul{
    background-image: url(../images/15.jpg);
}

#corbatas{
    background-image: url(../images/16.jpg);
}

#concierto{
    background-image: url(../images/14.jpg);
}

/* Estilos de la seccion contacts */

.row2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;

}

.t-center{
    margin-top: 0px;
    padding-top: 50px;
}

